{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_game/profilecourse

    This template renders the profile user in the course.
}}
<div id="profiler">
    <h3>({{coursename}})</h3>
    <br>
    <div class="boxgame" id="user">
        {{{imgavatar}}}
        <strong class="h6">{{username}}</strong>
    </div>
    <div class="boxgame" id="info">
        <div class="row">
            <div class="col- ">
                <div class="container">
                    <div class="row">
                        <div class="col- ">
                            {{{imgrank}}}
                        </div>
                        <div class="col- text-center" style="width:105px;">
                            <br>{{labelrank}}<br>
                            <strong style="font-size:14px;">{{rank}}º / {{fullrank}}</strong>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col- ">
                            {{{imgscore}}}
                        </div>
                        <div class="col- text-center" style="width:105px;">
                            <br>{{labelscore}}<br>
                            <strong style="font-size:14px;">{{score}}</strong>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col- ">
                            {{{imglevel}}}
                        </div>
                        <div class="col- text-center" style="width:105px;">
                            <br>{{labellevel}}<br>
                            <strong style="font-size:14px;">{{level}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col- ml-4" style="min-width: 165px; font-size:12px;">
                <strong>{{scorelabeldetail}}</strong>
                <br>
                <table width="100%" class="generaltable">
                    <tbody>
                        <tr>
                            <td style="font-size:12px;">{{scoreatvlabel}}:</td>
                            <td class="text-right"><strong>{{scoreatv}}</strong></td>
                        </tr>
                        <tr>
                            <td style="font-size:12px;">{{scoremodlabel}}:</td>
                            <td class="text-right"><strong>{{scoremod}}</strong></td>
                        </tr>
                        <tr>
                            <td style="font-size:12px;">{{scoresectionlabel}}:</td>
                            <td class="text-right"><strong>{{scoresection}}</strong></td>
                        </tr>
                        <tr>
                            <td style="font-size:12px;">{{scorebonuslabel}}:</td>
                            <td class="text-right"><strong>{{scorebonus}}</strong></td>
                        </tr>
                        <tr>
                            <td style="font-size:12px;">{{scorebadgelabel}}:</td>
                            <td class="text-right"><strong>{{scorbadge}}</strong></td>
                        </tr>
                    </tbody>
                </table>
                <div class="progress" title="{{helpprogresslevel}}">
                    <div class="progress-bar" role="progressbar" style="width: {{percent}}%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        {{percent}}%
                    </div>        
                </div>
                <div class="w-100 text-right" title="{{helpprogresslevel}}">
                    {{nextlevel}}
                </div>
            </div>
        </div>
        <hr>
        <div id="emblemas">
        <h4>{{labelbadges}}</h4>
        <br>
        {{{outputbadges}}}
        {{#badgedisabled}}
            {{badgedisabled}}
        {{/badgedisabled}}
        <hr>
        </div>
    </div>
</div>