{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_game/rank

    This template renders the rank.
    Example context (json):
    {
      "coursefullname": "Curso de Física Moderna",
      "showgroupmenu": true,
      "groupmenu": "<select><option>Grupo 1</option><option>Grupo 2</option></select>",
      "headers": [
        { "label": "Posição", "class": "rank-col" },
        { "label": "Nome", "class": "name-col" },
        { "label": "Atividades", "class": "score-col" },
        { "label": "Módulos", "class": "score-col" },
        { "label": "Seções", "class": "score-col" },
        { "label": "Bônus", "class": "score-col" },
        { "label": "Medalhas", "class": "score-col" },
        { "label": "Total", "class": "score-total" }
      ],
      "gamers": [
        {
          "ord": "1º",
          "user": "<img src='avatar1.jpg' class='userpic' title='User'> Ana Paula",
          "sum_score_activities": "150",
          "sum_score_module_completed": "90",
          "sum_score_section": "60",
          "sum_score_bonus_day": "20",
          "sum_score_badges": "30",
          "score": "<strong>350</strong>",
          "showdetails": true
        },
        {
          "ord": "2º",
          "user": "<img src='avatar2.jpg' class='userpic' title='User'> Carlos Mendes",
          "sum_score_activities": "130",
          "sum_score_module_completed": "80",
          "sum_score_section": "55",
          "sum_score_bonus_day": "15",
          "sum_score_badges": "25",
          "score": "<strong>305</strong>",
          "showdetails": true
        },
        {
          "ord": "3º",
          "user": "<img src='avatar3.jpg' class='userpic' title='User'> Joana Dias",
          "sum_score_activities": "120",
          "sum_score_module_completed": "70",
          "sum_score_section": "50",
          "sum_score_bonus_day": "10",
          "sum_score_badges": "20",
          "score": "<strong>270</strong>",
          "showdetails": true
        }
      ],
      "notstarted": true,
      "notstartedtext": "5 alunos ainda não iniciaram a participação no jogo."
    }
}}
<div class="rank">
    <h3>{{coursefullname}}</h3>
    {{#showgroupmenu}}
        {{{groupmenu}}}
    {{/showgroupmenu}}

    <table class="w-100 generaltable">
        <thead>
            <tr>
                {{#headers}}
                    <th class="cell {{class}} text-center">{{{label}}}</th>
                {{/headers}}
            </tr>
        </thead>
        <tbody>
            {{#gamers}}
                <tr>
                    <td class="cell c0" align="center">{{{ord}}}</td>
                    <td class="cell c1">{{{user}}}</td>
                    {{#showdetails}}
                        <td class="cell c2 text-center">{{sum_score_activities}}</td>
                        <td class="cell c3 text-center">{{sum_score_module_completed}}</td>
                        <td class="cell c4 text-center">{{sum_score_section}}</td>
                        <td class="cell c5 text-center">{{sum_score_bonus_day}}</td>
                        <td class="cell c6 text-center">{{sum_score_badges}}</td>
                    {{/showdetails}}
                    <td class="cell c7 text-center">{{{score}}}</td>
                </tr>
            {{/gamers}}
        </tbody>
    </table>

    {{#notstarted}}
        <br>({{notstarted}} {{notstartedtext}})
    {{/notstarted}}
</div>
